:root {
    --clrPrimary: var(--clr-gray--10);
    --clrSecondary: var(--clr-gray--0);
    --clrTertiary: var(--clr-gray--2);
    --clrAccent: var(--clr-red--5);
    --clrComplementary: var(--clr-red--4);
    --clrMuted: var(--clr-gray--9);

    --fontFamily: 'Schibsted Grotesk', sans-serif;
    --headingFontFamily: 'Bebas Neue', cursive;
}